/* CSS Variables */
:root {    
    --main-bg-color: blue; 
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

main{
    display: flex;
    flex-direction: row;
    flex:auto;
}

article{
    flex:2;
    overflow-y: auto;
}

aside {
    flex:1;
}